numpy==2.0.2
transformer_lens
better-abc==0.0.3
transformers-stream-generator==0.0.5
beartype==0.14.1
huggingface-hub>=0.23.2,<1.0
einops
jaxtyping
fancy-einsum
scikit-learn
matplotlib
seaborn
scipy
datasets
transformers
torch
pandas
tqdm
requests
